@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;
}

:root{
    --bs-primary: #22b5c5 !important;
}

input.form-control.recherche{
    font-size: 14px;
    border-radius: 20px;
    line-height: 28px;
    padding: 7px 16px;
    min-width: 320px;
    border-color: #d2d2d2;
}

input.form-control::placeholder{
    color: rgba(116, 116, 116, 0.699);
}

.btn.btn-sm{
    border-radius: 18px;
    padding: 5px 10px;
}


h1,h2,h3,h4,h5,h6{
    color: rgba(0, 0, 0, 0.8) !important;
}

.btn.btn-icon{
    background-color: transparent;
    font-size: 22px;
    padding: 0 6px;
    color: inherit;
}

.btn.btn-icon:hover{
    background-color: rgba(131, 131, 131, 0.466);
}

.btn.btn-primary.bouton-connexion{
    border-radius: 20px;
    background-color: #22b5c5;
    border: none;
    padding: 9px 16px;
}

.btn.btn-primary{
    background-color: #22b5c5;
    border-color:#22b5c5;
}

.btn.btn-primary:hover{
    background-color: #1d99a7;
    border-color:#1d99a7;
}




/* Modal et fenetres */

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(34, 181, 197, 0.5));
    backdrop-filter: blur(5px);
    z-index: 50;
}

.modal-bg.modal-bg-danger {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(197, 34, 34, 0.5));
}

.modal-bg.modal-bg-bleu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 39, 79, 0.7));
}

.modal-contenu {
    width: 100%;
    max-width: 360px;
    border-radius: 8px;
    background-color: white;
}

.modal-contenu .form-check-input:checked {
    background-color: #22b5c5;
    border-color: #22b5c5;
}

.text-bg-danger + .fenetre-contenu .form-check-input:checked{
    background-color: #dc3545;
    border-color: #dc3545;
}

.modal-tete {
    width: 100%;
    background-color: #22b5c5;
    padding: 16px 16px;
    color: white;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.modal-tete>button {
    position: absolute;
    top: 8px;
    right: 8px
}


.modal-contenu p.display-6 {
    font-size: 28px;
    margin: 0;
}

.fenetre-contenu {
    padding: 20px;
}




